<%= link_to 'Back', students_path %>

<p>
  <strong>first name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>education:</strong>
  <%= @student.education %>
</p>
